<ul class="nav bg-secondary pl-4">
    <li class="nav-item mx-2">
        <a class="nav-link text-dark font-weight-bold" routerLink = "./userManager" RouterLinkActive="active">User Management</a>
    </li>
    <li class="nav-item mx-2">
        <a class="nav-link text-dark font-weight-bold" routerLink = "./category" RouterLinkActive="active">Category</a>
    </li>
    <li class="nav-item mx-2">
        <a class="nav-link text-dark font-weight-bold" routerLink = "./booking" RouterLinkActive="active">Booking Management</a>
    </li>
</ul>
<router-outlet></router-outlet>