<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-10 offset-1">
            
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="fa fa-user"></i>&nbsp;&nbsp;User Management</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Search by Username"
                                            [(ngModel)]="searchTitle" (keyup)="searchUser($event)">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>No</th>
                                            <th>User Name</th>
                                            <th>User Email</th>
                                            <!-- <th>User Role</th> -->
                                            <th>Status</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of users | paginate : {itemsPerPage: pageSize, currentPage: page, totalItems: count}; let i = index"
                                                [class.active]="i == currentIndex" (click)="setActiveUser(user, i)">
                                                <td>{{i+1}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.email}}</td>
                                                <!-- <td></td> -->
                                                <td *ngIf="user.status == 'allow'">Allow</td>
                                                <td *ngIf="user.status == 'pending'">Pending</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-5" *ngIf="currentUser">
                            <h5><span class="text-info">{{currentUser.username}}</span> Information</h5>
                            <p>{{currentUser.email}}</p>
                            <p *ngIf="currentUser.status == 'allow'">Allow</p>
                            <p *ngIf="currentUser.status == 'pending'">Pending</p>

                            <button class="btn btn-primary btn-sm" *ngIf="currentUser.status=='allow'"
                                (click)="updatePublished(false)">Pending</button>
                            <button class="btn btn-primary btn-sm" *ngIf="currentUser.status == 'pending'"
                                (click)="updatePublished(true)">Allowing</button>
                        </div>

                        <div class="col-5" *ngIf="!currentUser">
                            <h5>Please, select the user to see detailly....</h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="dropdown-divider my-4"></div>
            <div class="row mt-3">
                <div class="col-8 offset-2">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="handlePageChange($event)"
                        class="mx-auto text-center">
                    </pagination-controls>
                </div>
                <div class="col-2">
                    <select (change)="handlePageSizeChange($event)" class="custom-select input-sm">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

    </div>


</div>