<div class="container-fluid">
    <div class="row mt-5 px-5">
        <img class="product_title_background" src="../../../assets/images/product_list.jpg">
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="row mx-4" *ngIf="productsbyCategory.length != 0">
                <div class="col-3 my-3" *ngFor="let product of productsbyCategory">
                    <div class="card" (click)="gotoProductDetail('/productDetail', product.id)">
                        <div class="card-header p-0">
                            <img class="card-img-top" src="{{product.img}}">
                        </div>
                        <div class="card-body pb-0">
                            <h6 class="card-title">{{product.title}}</h6>
                            <div class="d-flex justify-content-between">
                                <p class="price small" style="line-height: 0.8;">₹{{product.price}}</p>
                                <p class="review small mb-0"><i class="fa fa-thumbs-up text-danger"
                                        *ngIf="product.reviews"></i>&nbsp;{{product.rating}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-4" *ngIf = "productsbyCategory.length==0">
                <h4 class="text-danger"><i class="fa fa-info mr-3"></i>There is no experience registered currently.</h4>
            </div>
            <div class="dropdown-divider"></div>
        </div>
    </div>
</div>