<div class="container-fluid">
    <div class="row my-5 mx-5">
        <h2 class="category mx-auto text-center">Helped 5 + Millon Coustomers Dreamy Affair Their Special Occasions</h2>
    </div>
    <div class="row mx-4 my-5">
        <div class="col-md-3 col-sm-6 text-center">
            <img class="mx-auto" width="40%" src="../../../assets/images/common/medal-min.png">
            <h4 class="text-center">5 + Millon</h4>
            <p class="text-center sm">Happy Customers over 6 years</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img class="mx-auto" width="40%" src="../../../assets/images/common/google-reviews-min.png">
            <h4 class="text-center">4.3/5 Reviews</h4>
            <p class="text-center sm">from 500 + reviews on Google</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img class="mx-auto" width="40%" src="../../../assets/images/common/news-min.png">
            <h4 class="text-center">In the Media</h4>
            <p class="text-center">Featuer by the best</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img class="mx-auto" width="40%" src="../../../assets/images/common/brands-min.png">
            <h4 class="text-center">Top Brands</h4>
            <p class="text-center">Partnered with top brands</p>
        </div>
    </div>
</div>
<div class="container-fluid footer">
    <div class="row mt-5">
        <div class="col-md-4 col-sm-5 offset-md-1 offset-sm-1">
            <h5 class="mb-4">Need Help?</h5>
            <ul class="list-unstyled">
                <li><a href="javascript: void(0)"><i class="fa fa-whatsapp">&nbsp; Whatapp Us</i></a></li>
                <li><a href="javascript: void(0)"><i class="fa fa-phone">&nbsp; Call Us</i></a></li>
                <li><a href="javascript: void(0)"><i class="fa fa-file-text">&nbsp; Terms & Conditions</i></a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-6">
            <h5 class="mb-4">Important Links</h5>
            <ul class="list-unstyled">
                <li><a href="javascript: void(0)"><i class="fa fa-rss">&nbsp; Blog</i></a></li>
                <li><a href="javascript: void(0)"><i class="fa fa-group">&nbsp; About Us</i></a></li>
                <li><a href="javascript: void(0)"><i class="fa fa-sitemap">&nbsp; Sitemap</i></a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="mb-4">Download App</h5>
            <img src="../../../assets/images/common/google-play-icon-min-2.png" width="35%">&nbsp;
            <img src="../../../assets/images/common/5a902db97f96951c82922874-min.png" width="35%">
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
        <h5 class="my-4 mx-auto">Spread the Love</h5>
    </div>
    <div class="row mx-auto">
        <p class="mx-auto mb-4"><i class="fa fa-facebook mx-4"></i><i class="fa fa-instagram mx-4"></i><i
                class="fa fa-twitter mx-4"></i><i class="fa fa-pinterest-p mx-4"></i><i
                class="fa fa-linkedin mx-4"></i><i class="fa fa-youtube mx-4"></i></p>
    </div>
    <div class="row">
        <p class="mx-auto mt-2">© Aleksander K2I Technologies Private Limited</p>
    </div>
</div>